In [2]:
import pandas as pd
import numpy as np

In [3]:
city = pd.read_excel('city.xlsx')
test = pd.read_excel('test.xlsx')

In [4]:
test.head()

,date,group,requests,gmv,coupon per trip,trips,canceled requests
0,2019-01-01,control,30,7486.620,1.069746,24,1
1,2019-01-02,control,152,38301.575,1.044199,121,8
2,2019-01-03,control,267,67768.425,1.032276,215,14
3,2019-01-04,control,369,94992.900,1.028196,298,19
4,2019-01-05,control,478,123236.875,1.011807,390,24

In [25]:
test['net_gmv'] = test['gmv'] - test['coupon per trip']*test['trips']

In [16]:
requests_control = test[test.group == 'control'].requests
requests_experiment = test[test.group == 'experiment'].requests

In [14]:
import scipy.stats as stats

In [18]:
stats.ttest_ind(requests_control, requests_experiment,equal_var=False)

TtestResult(statistic=0.021729103766715982, pvalue=0.9827413099899484, df=55.98410030286471)

In [19]:
net_gmv_control = test[test.group == 'control'].net_gmv
net_gmv_experiment = test[test.group == 'experiment'].net_gmv

In [23]:
stats.ttest_ind(net_gmv_control, net_gmv_experiment,equal_var=False)

TtestResult(statistic=0.07760798539965234, pvalue=0.9384166770937565, df=55.96858889622083)

In [24]:
stats.levene(net_gmv_control, net_gmv_experiment, center='median')

LeveneResult(statistic=0.02869287461714482, pvalue=0.8661005266273073)

用配对法

In [27]:
daily_requests = test.pivot(index='date',columns = 'group',values = 'requests')

In [29]:
daily_requests.head()

group       control  experiment
date
2019-01-01       30          30
2019-01-02      152         152
2019-01-03      267         277
2019-01-04      369         383
2019-01-05      478         497

In [34]:
requests_control = daily_requests['control']
requests_experiment = daily_requests['experiment']

In [39]:
stats.ttest_rel(requests_control, requests_experiment)

TtestResult(statistic=1.6436140982479508, pvalue=0.11143970454099937, df=28)

In [42]:
daily_gmv = test.pivot(index = 'date',columns='group',values = 'net_gmv')

In [43]:
gmv_control = daily_gmv['control']
gmv_experiment = daily_gmv['experiment']

In [44]:
stats.ttest_rel(gmv_control, gmv_experiment)

TtestResult(statistic=4.264025150548426, pvalue=0.00020625574542273216, df=28)